<h1>ngx-mat-tel-input</h1>
<form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-form-field appearance="outline" fxFlex="grow">
    <mat-label>Phone Number</mat-label>
    <lib-ngx-mat-tel-input formControlName="tel" [defaultCountry]="'GB'"></lib-ngx-mat-tel-input>
    <mat-error *ngIf="tel.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="tel.hasError('phoneNumber')">
      Phone number is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>
</form>

<dl>
  <dt>Input value (E.164 format):</dt>
  <dd *ngIf="tel.value; then thenBlock else elseBlock"></dd>
  <ng-template #thenBlock>{{tel.value}}</ng-template>
  <ng-template #elseBlock><i>null</i></ng-template>
</dl>
